BuildyBackend/.vs/
.vs/

BuildyBackend/BuildyBackend.Core/obj/
BuildyBackend/BuildyBackend.Core/bin/

BuildyBackend/BuildyBackend.EmailService/obj/
BuildyBackend/BuildyBackend.EmailService/bin/

BuildyBackend/BuildyBackend.Infrastructure/obj/
BuildyBackend/BuildyBackend.Infrastructure/bin/

BuildyBackend/BuildyBackend.UI/obj/
BuildyBackend/BuildyBackend.UI/bin/

BuildyBackend/BuildyBackend.ControllerTests/bin/
BuildyBackend/BuildyBackend.ControllerTests/obj/

BuildyBackend/BuildyBackend.IntegrationTests/obj/
BuildyBackend/BuildyBackend.IntegrationTests/bin/

BuildyBackend/BuildyBackend.ServiceTests/obj/
BuildyBackend/BuildyBackend.ServiceTests/bin/

DatalexionFrontend/.vs/
DatalexionFrontend/node_modules/

BuildyBackend/BuildyBackend.UI/appsettings.Development.json

BuildyBackend/BuildyBackend.UI/logs/
